*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rosybrown;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 920px;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3rem;
}

td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 8px 15px;
}

tr:nth-child(even) {
  background-color: rgb(204, 165, 165);
}

.col-n {
  width: 170px;
}

.col-w {
  width: 250px;
}

form {
  margin: 1rem 0 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  border-radius: 5px;
  height: 30px;
  border: none;
  background-color: rgb(188, 216, 207);
  padding: 5px;
  font-family: inherit;
  font-size: 1.1rem;
  color: teal;
  width: 165px;
}

button {
  font-family: inherit;
  border-radius: 5px;
  height: 30px;
  padding: 5px 7px;
  border: none;
  cursor: pointer;
  background-color: teal;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:hover {
  font-weight: 700;
}

select {
  background-color: rgb(188, 216, 207);
  color: teal;
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  width: 200px;
  font-family: inherit;
  font-size: 1.1rem;
}
